* 
{
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body

{
    background: black;
    display: flex;
    flex-direction: row;
}


.main
{
    position: absolute;
    top:20%;
    left: 58%;
    /* transform: translate(20%,-50%); */
    width: 40%;
    height: 80%;
    border: 2px solid red;
    transition: 2s ease-in-out;
    top:10%;
}

p 
{
    position: absolute;
    margin-top: 30%;
    font-family: fantasy;
    font-size: 500%;
    font-weight: 300;
    margin:none;
    justify-content: center;
}


.intro
 {
    margin-top:-30px;
    background: transparent;
    font-family: monaco;
    font-size: 0%;
    font-weight: 600;
    color:transparent;
    transition: 1s ease-in-out;
}

.ball
{
    position: absolute;
    height: 30px;
    width: 30px;
    /* background: rgb(255, 132, 0); */
    background: green;
    left: 50%;
    top: 50%;
    border-radius: 50%;
}


.main:hover

{
    background:red;
}

.main:hover .intro
{
    position: absolute;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    font:bold;
    color:black;

}
.ball:hover .main

{
    background-color: green;
}
.info 
{
    color:red;
    font-size:300%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10%;
}
.Programmer 
{
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
}
.webdev 
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
}

.brace 
{
    font-size: 180%;
    color: green;
}
.slash
{
    font-size: 90%;
    color:blue;
}
span:nth-child(7)
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    color:white;
}
.icons 
{
    color:red;
}
.icons
{
    box-sizing: border-box;
    position: absolute;
    display: inline;
    margin-left: -10px;
    padding-inline: 20px;
    padding-bottom: 0px;
    bottom:0%;
    background: transparent;
    width: 100%;
    height: 12%;
}

a
{
    margin-left: 20px;
}

a:hover i
{
    color:green;
}

.creds {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    bottom: 0%;
    margin: 6px;
    color:red;
}
.creds > a {
    color: white;
    text-decoration: dotted;
}

@media (max-width:1165px)
{
    *
    {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        overflow-x:hidden;
    }
    html 
    {
        overflow-clip-margin: 100%;

    }
    head 
    {
        height:0px;
    }
    style 
    {
        height: 600px;
    }
    body 
    {
        overflow: hidden;
        height:fit-content;
        float: top;
        overflow-y:hidden;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .icons
    {
        bottom:0%;
        justify-content: space-evenly;
        margin-bottom: 40px;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        overflow-y: scroll;
        

    }
    a
    {
        padding-left: 0px;
        display: block;
        background:transparent;
        flex-direction: row;

    }
    .fab
    {
        scale: 50%;
    }
    .main 
    {
        overscroll-behavior:unset;
        display: block;
        float: left;
        width: 90%;
        height: 70%;
        left:5%;
        top:18%;
        
    }
    .ball
    {
        height: 1em;
        width: 1em;
    }
    .intro
    {
        color: transparent;
        font-size: 1em;
        
        overflow-x: scroll;
    }
    p:nth-child(1)
    {
        padding: 30px;
        font-size:180%;
        color:red;
        font-weight: 50;
    }
    .main:hover 
    {
        background-color: black;
        
    }
    .main:hover .intro
    {
        color:red;
        font-size: 40%;
    }
    .info
    {
        position: absolute;
        font-size: 1em;
        left:5%;
        margin:0px;
        display: block;
        top:0%;
    }
    .brace
    {
        display: inline-block;
        font-size: 1em;
    }
    .webdev 
    {
        display: inline-block;
    }
    .slash
    {
        display: inline-block;
        font-size: 1em;
        transform: translate(1px,3px);
    }
    br:nth-child(2)
    {
        display: inline;  
    }
    .creds {
    display: block;
    bottom:0%;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    font-size: small;
    margin: 6px;
    color:red;
    float:left;
}
.creds > a {
    color: white;
    text-decoration: dotted;
}

}







