* {
    margin: none; 
    padding: none   ;
}
body 
{
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    background-color:   black;
    font-family: Arial, Helvetica, sans-serif;

}

.main {
    width: 60%;
    border: 1px solid red;
    height: 80vh;
    transform: translate(38vw, 10%);
    position: absolute;
    border: 2px solid red;
    border-radius: 5px;
    font-size: xx-small;
    display: flex;
    transition: all 2s ease;
    justify-content: center;
    align-items: center;
}
.main:hover 
{
    background-color: red;
    font-size: xx-large;
    display: flex;
    color:white;   
}
.ball {
    position: absolute;
    height: 30px;
    width: 30px;
    top:10%;
    /* background: rgb(255, 132, 0); */
    background: green;
    border-radius: 50%;
}
.info {
    border: 1px solid red;
    width: 35%;
    color: red;
    height: 80vh;
    transform: translate(2vw, 10%);

}
.heading {
    display: flex;
    font-size: xx-large;
    align-items: center;
    justify-content: center;
}

.creds {
    display: block;
    bottom: 0%;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    font-size: small;
    margin: 6px;
    color: red;
}
.creds > a {
    color: white;
    text-decoration: dotted;
}
footer 
{
    display: flex;
    width: 100vw;
    position: absolute;
    top:100%;
    align-items: baseline;
    
}
.icons {
    width: 40%;
    display: flex;    
    justify-content: space-around;
}
footer >p 
{
    text-align: right;
}
.color-pink {
    color:pink
}
.works {
    padding: 10%;
}
.color-red {
    color:red;
}

.tech-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}
  
.tech-icons img {
    /* width: 50px; /* Adjust the size according to your preference 
    height: 50px; */
    margin: 10px; /* Add some spacing between the icons */
    color: red;
}
.techstack .projects {
    padding-left:10px;
}

@keyframes beat {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
.animated-beat {
    animation: beat .85s infinite;
}
/* make media query for largest of phone display */
@media screen and (max-width: 480px) {
    body 
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    .main 
    {
        position: absolute;
        width: 80%;
        margin: 10%;
    }
    .info {
        position: absolute;
        width:80%;
        margin: 10%;
    }

    
}